.card__img {
  width: 95px;
  margin: auto 0;
  padding: 10px 10px;
}

.card__img > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.card__info {
  width: 285px;
  padding: 10px;
}

.info__message {
  text-align: justify;
  margin-bottom: 20px;
}

.info__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__name {
  margin-left: 140px;
}
