.active {
  background-color: #96fbff;
}

main {
  width: 410px;
  padding: 15px;
  margin: 100px auto;
  border-radius: 5px;
  background-color: #9edbff;
}

.main__card {
  width: 380px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f3f3f3;
  cursor: move;
}
.main__card:last-child {
  margin-bottom: 0;
}

.card__img {
  width: 95px;
  margin: auto 0;
  padding: 10px 10px;
}

.card__img > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.card__info {
  width: 285px;
  padding: 10px;
}

.info__message {
  text-align: justify;
  margin-bottom: 20px;
}

.info__bottom {
  display: flex;
  flex-direction: row;
}

.info__name {
  margin-left: 140px;
}
